.ellips-box {
  display: flex;
  width: 220px;
  height: 52px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: $ellipsBoxBdc;
  border-radius: 26px;
  background-color: $ellipsBoxBgc;
  font-size: 18px;
  color: $ellipsBoxColor;
  box-sizing: border-box;
  outline-width: 1px;
}

.button__red-ellipse {
  width: 140px;
  height: 62px;
  border-radius: 26px;
  background-color: $redEllipsBgc;
  font-size: 18px;
  text-transform: uppercase;
  color: $redEllipsColor;
}

.button-round {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 40px;
  background-color: $cascade;
  background-position: center;
  background-repeat: no-repeat;
}

.__button-round {
  &__apartrments {
    background-color: $filterActionApartmen;
    background-image: url('/assets/img/filter__apartment-icon.png');
  }

  &__girl {
    background-color: $filterActionGirl;
    background-image: url('/assets/img/filter__girl-icon.png');
  }

  &__music {
    background-color: $filterActionMusic;
    background-image: url('/assets/img/filter__music-icon.png');
    background-position-x: 10px;
  }

  &__education {
    background-color: $filterActionEducation;
    background-image: url('/assets/img/filter__education-icon.png');
  }

  &__travel {
    background-color: $filterActionTravel;
    background-image: url('/assets/img/filter__travel-icon.png');
  }
}