@mixin filledAndIcon ($BGcolor, $iconName, $iconWidth, $iconHeight, $iconColor) {
  .__button-round {
    &__#{$iconName} {
      background-color: $BGcolor;
      .icon-#{$iconName} {
        width: $iconWidth;
        height: $iconHeight;
        fill: $iconColor;
      }
    }
  }
}

@mixin placeholder-color($color) {
  @each $browser in (webkit-input, moz, ms-input) {
    &::-#{$browser}-placeholder {
      color: $color;
    }
    &:focus::-#{$browser}-placeholder {
      color: transparent;
    }

    &:-#{$browser}-placeholder {
      color: $color;
    }
    &:focus:-#{$browser}-placeholder {
      color: transparent;
    }
  }
}

.ellips-box {
  display: flex;
  width: 220px;
  height: 52px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: $ellipsBoxBdc;
  border-radius: 100px;
  box-sizing: border-box;
  outline-width: 1px;
  background-color: $ellipsBoxBgc;
  font-size: 18px;
  font-family: gotham-book;
  color: $ellipsBoxColor;

  &.__footer-input {
    position: relative;
    width: 495px;
    height: 62px;
    margin-left: -53px;
    padding-left: 70px;
    @include placeholder-color($footerTitle);
  }

  &.__search-input {
    width: 470px;
    height: 57px;
    margin-bottom: 30px;
    @include placeholder-color($white);
  }

  &.__search-select {
    position: relative;
    align-items: center;
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 22px;
    overflow-x: hidden;
    box-sizing: border-box;

    .icon-arrowdown {
      width: 19px;
      height: 19px;
      fill: $searchTitleColor;
      margin-left: -50px;
    }

    select {
      width: 210px;
      height: 100%;
      appearance: none;
      background-color: transparent;
      border: none;
      outline-width: 1px;
      font-size: 18px;
      line-height: 24px;
      color: $searchSelectColor;
    }
  }
}

.button__red-ellipse {
  width: 140px;
  height: 62px;
  border-radius: 26px;
  background-color: $redEllipsBgc;
  font-size: 18px;
  text-transform: uppercase;
  color: $redEllipsColor;

  &.__footer {
    z-index: 80;
    width: 120px;
    height: 52px;
    margin-left: -124px;
    font-size: 14px;
  }
}

.button-round {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 40px;
  background-color: $cascade;
}

.button__show-more {
  display: flex;
  align-items: center;
  width: 140px;
  height: 35px;
  margin-top: 23px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 15px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: $contentShowMoreBdc;
  font-size: 12px;
  text-transform: uppercase;

  .icon-search {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    margin-top: -2px;
  }
}

.button__round-icon {
  width: 100px;
  height: 100px;
  margin-right: 4px;
  margin-left: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: $abilitiesIcon;
  border-radius: 100px;
  transition-duration: $timeNormal;

  .icon-apartment,
  .icon-shoping,
  .icon-music,
  .icon-education,
  .icon-travel {
    width: 50px;
    height: 50px;
    fill: $abilitiesIcon;
    transition-duration: $timeNormal;
  }

  &.active {
    border-color: $abilitiesIconActive;
    .icon-apartment,
    .icon-shoping,
    .icon-music,
    .icon-education,
    .icon-travel {
      fill: $abilitiesIconActive;
    }
  }
}

@include filledAndIcon($filterActionApartmen, apartment, 24px, 22px, $white);
@include filledAndIcon($filterActionEducation, education, 24px, 22px, $white);
@include filledAndIcon($filterActionMusic, music, 24px, 22px, $white);
@include filledAndIcon($filterActionShoping, shoping, 24px, 22px, $white);
@include filledAndIcon($filterActionTravel, travel, 24px, 22px, $white);