@mixin filledAndIcon ($BGcolor, $iconName, $iconWidth, $iconHeight, $iconColor) {
  .__button-round {
    &__#{$iconName} {
      background-color: $BGcolor;
      .icon-#{$iconName} {
        width: $iconWidth;
        height: $iconHeight;
        fill: $iconColor;
      }
    }
  }
}

.ellips-box {
  display: flex;
  width: 220px;
  height: 52px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: $ellipsBoxBdc;
  border-radius: 26px;
  background-color: $ellipsBoxBgc;
  font-size: 18px;
  color: $ellipsBoxColor;
  box-sizing: border-box;
  outline-width: 1px;
}

.button__red-ellipse {
  width: 140px;
  height: 62px;
  border-radius: 26px;
  background-color: $redEllipsBgc;
  font-size: 18px;
  text-transform: uppercase;
  color: $redEllipsColor;
}

.button-round {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 40px;
  background-color: $cascade;
}

.button__show-more {
  display: flex;
  align-items: center;
  width: 140px;
  height: 35px;
  margin-top: 23px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 15px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-color: $contentShowMoreBdc;
  font-size: 12px;
  text-transform: uppercase;

  .icon-search {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    margin-top: -2px;
  }
}

.button__star {
  width: 16px;
  height: 16px;
  background-image: url('/assets/img/content__showmore-star.png');

  &:hover {
    background-image: url('/assets/img/content__showmore-star-filled.png');
  }
}

.button__round-icon {
  width: 100px;
  height: 100px;
  margin-right: 4px;
  margin-left: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: $abilitiesIcon;
  border-radius: 100px;
  transition-duration: $timeNormal;

  .icon-apartment,
  .icon-shoping,
  .icon-music,
  .icon-education,
  .icon-travel {
    width: 50px;
    height: 50px;
    fill: $abilitiesIcon;
    transition-duration: $timeNormal;
  }

  &.active {
    border-color: $abilitiesIconActive;
    .icon-apartment,
    .icon-shoping,
    .icon-music,
    .icon-education,
    .icon-travel {
      fill: $abilitiesIconActive;
    }
  }
}

@include filledAndIcon($filterActionApartmen, apartment, 24px, 22px, $white);
@include filledAndIcon($filterActionEducation, education, 24px, 22px, $white);
@include filledAndIcon($filterActionMusic, music, 24px, 22px, $white);
@include filledAndIcon($filterActionShoping, shoping, 24px, 22px, $white);
@include filledAndIcon($filterActionTravel, travel, 24px, 22px, $white);