.abilities {
  padding-bottom: 140px;

  &:before {
    content: '';
    display: block;
    width: calc(100% + 30px);
    height: 0px;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 85px;
    box-sizing: border-box;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $abilitiesTopLine;
  }

  &__title {
    width: 100%;
    margin-bottom: 8px;
    font-size: 22px;
    text-align: center;
    line-height: 22px;
    color: $abilitiesTitle;
  }

  &__subtitle {
    width: 615px;
    height: 65px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-family: gotham-book;
    color: $abilitiesSubtitle;
  }

  &__action {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    .__spliter {
      display: flex;
      width: 53px;
      height: 2px;
      background-color: $abilitiesIcon;
    }

    &-title {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 27px;
      color: $abilitiesIconActive;
    }

    &-list {
      display: flex;
      justify-content: center;

      li {
        display: flex;
        justify-content: space-between;
        width: 365px;
        &:first-child {
          margin-right: 15px;
        }

        &:last-child {
          margin-left: 15px;
        }
      }
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 62px;
      height: 62px;
      border-radius: 100px;
      background-color: $abilitiesIconActive;

      .icon-leaf,
      .icon-flash {
        width: 30px;
        height: 30px;
        fill: $white;
      }
    }

    &-text {
      width: 270px;
      font-size: 14px;
      font-family: gotham-book;
      line-height: 24px;
      color: $abilitiesActionText;
    }
  }
}

@media (max-width: 1199px) {
  .abilities {
    &__action {
      .__spliter {
        width: 45px;
      }

      &-list li {
        width: 340px;
      }
    }
  }
}