.add {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__input {
    flex-basis: 60%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    font-size: 14px;
    box-sizing: border-box;
  }

  &__checkbox {
    display: flex;
    flex-basis: 40%;
    justify-content: center;

    input {
      margin-right: 10px;
    }
  }

  &__textarea {
    flex-basis: 100%;
    min-height: 60px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    font-size: 14px;
    box-sizing: border-box;
  }

  &__submit-btn {
    flex-grow: 1;
    align-self: center;
    height: 36px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 5px;

    &:disabled {
      background-color: red;
    }
  }
}

.news {
  &__item {
    background: #FFF;
    border: 1px solid rgba(0, 89, 181, 0.82);
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
    padding: 3px 5px;
  }

  &__author {
    text-decoration: underline;
    color: #007DDC;
  }
  &__count {
    margin: 10px 0 0 0;
    display: block;
  }
}