@mixin contentModificators($name, $color) {
  .__content-#{$name} {
    .content__image {
      background-color: $color;
      border-bottom-color: $color;
    }
    .content__hover {
      background-color: rgba($color, 0.7);
    }
    @if $name == apartment {
      .content__price {
        display: flex;
      }
    }
    .content__category {
      background-color: $color;
      .icon-#{$name} {
        width: 27px;
        height: 27px;
        fill: $white;
      }
    }
    .content__location {
      color: $color;
    }
    .button__show-more {
      background-color: $color;
    }
  }
}

.content {
  padding-top: 50px;
  font-family: gotham;

  &__item {
    position: relative;
    width: 210px;
    height: 265px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    background-color: $contentItemBgc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $contentItemBdc;
    border-radius: 3px;

    &:hover {
      .content__hover {
        display: flex;
      }
      .content__price {
        display: none;
      }
    }
  }

  &__hover {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 210px;
    height: 140px;

    &-star {
      display: flex;
      justify-content: center;

      .icon-star {
        width: 16px;
        height: 16px;
        fill: transparent;
        stroke: $white;
        stroke-width: 3px;
        transition-duration: $timeFast;
        cursor: pointer;

        &:hover,
        &.active {
          fill: white;
        }
      }
    }
  }

  &__image {
    border-radius: 3px 3px 0 0;
    border-bottom-style: solid;
    border-bottom-width: 3px;
  }

  &__price {
    display: none;
    position: absolute;
    z-index: 80;
    height: 25px;
    top: 7px;
    right: 7px;
    padding-right: 12px;
    padding-left: 12px;
    align-items: center;
    font-size: 12px;
    background-color: $contentPriceBgc;
    color: $contentPriceColor;
    border-radius: 12px;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -35px;
    width: 55px;
    height: 55px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
    border-style: solid;
    border-color: $contentCategoryBdc;
    border-width: 3px;
  }

  &__title {
    height: 38px;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
    color: $contentTitleColor;
    text-align: center;
  }

  &__location {
    margin-bottom: 6px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__raiting {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-star {
      width: 11px;
      height: 11px;
      margin-right: 1px;
      margin-left: 1px;

      &.__pure {
        fill: none;
        stroke: $contentRaitingBgc;
        stroke-width: 3px;
      }
      &.__filled {
        fill: $contentRaitingBgc;
      }
    }

    &-votes {
      margin-left: 5px;
      font-size: 12px;
      color: $contentRaitingVotes;
    }
  }

  &__moreitems {
    display: flex;
    align-items: center;
    height: 32px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
    padding-top: 10px;
    font-size: 18px;
    color: $contentMoreItemsColor;
    box-sizing: border-box;

    &:hover span {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: $contentMoreItemsBdc;
    }

    .icon-arrowright {
      width: 14px;
      height: 14px;
      margin-left: 5px;
      fill: $contentMoreItemsColor;
    }
  }
}

@include contentModificators(apartment, $filterActionApartmen);
@include contentModificators(shoping, $filterActionShoping);
@include contentModificators(music, $filterActionMusic);
@include contentModificators(education, $filterActionEducation);
@include contentModificators(travel, $filterActionTravel);