.filters {
  height: 60px;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $filterBdc;
  font-family: gotham;
  background-color: $filterBgc;

  &__categories {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -15px;

    a {
      margin-right: 12px;
      margin-left: 12px;
      text-transform: uppercase;
      color: $filterRulesColor;
      font-size: 12px;

      &:hover {
        color: $filterRulesColorActive;
        text-decoration: underline;
      }

      &.active {
        color: $filterRulesColorActive;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__location {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    .icon-arrowdown {
      width: 14px;
      height: 14px;
      fill: $filterLocationBdc;
      margin-left: -50px;
    }

    &-select {
      width: 117px;
      height: 36px;
      margin-right: 5px;
      padding-left: 15px;
      align-items: center;
      border-color: $filterLocationBdc;
      overflow-x: hidden;

      select {
        width: 130px;
        height: 100%;
        color: $filterLocationColor;
        appearance: none;
        background-color: transparent;
        text-transform: uppercase;
        border: none;
        outline-width: 1px;
        font-family: gotham;
        font-size: 12px;
      }
    }

    &-map {
      width: 127px;
      height: 36px;
      margin-left: 5px;
      align-items: center;
      font-size: 12px;
      border-color: $filterLocationBdc;
      color: $filterLocationBdc;
      text-transform: uppercase;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-left: -15px;
    margin-right: -15px;

    p {
      margin-right: 5px;
      text-transform: uppercase;
      font-size: 12px;
      color: $filterActionColor;
    }
  }
}

@media (max-width: 1199px) {
 .filters {
    &__categories {
      margin-left: 10px;
    }

    &__action {
      margin-right: 10px;
    }
  }
}

@media (max-width: 767px) {
  .filters {
    overflow-y: hidden;
    transition-duration: $timeNormal;
    &__categories {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      margin-left: -5px;
      margin-right: -5px;

      a {
        margin: 0;
      }

      .icon-menu {
        width: 30px;
        height: 30px;
        fill: $red;
      }
    }

    &__location {
      margin-bottom: 15px;
    }

    &__action {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      margin-right: -15px;
      margin-left: -15px;
    }

    &.expanded {
      height: 170px;
    }
  }
}