@import 'variables';

@mixin font-face($fontname) {
  font-family: #{$fontname};
  src: url('assets/fonts/#{$fontname}.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  @include font-face(gotham);
}

@font-face {
  @include font-face(gotham-book);
}

body {
  margin: 0;
  font-family: gotham;
  background-color: $contentBgc;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

button {
  border: none;
  padding: 0;
  background: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.__align-center {
  justify-content: center;
}

.hidden,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

@media (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .visible-sm {
    display: flex !important;
  }

  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .visible-md {
    display: flex !important;
  }

  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: flex !important;
  }

  .hidden-lg {
    display: none !important;
  }
}