// Colors:
$blue: #4d90fe;
$bonJour: #e2dee0;
$cascade: #96a6a7;
$chicago: #5a5955;
$cloud: #c0bebc;
$edward: #9dacad;
$green: #1baf5d;
$gray: #f3f1f2;
$grayShuttle: #566375;
$gray3: #cccdd3;
$orange: #f19e1f;
$red: #e94e38;
$tiara: #cad2d3;
$violet: #88499c;
$white: #ffffff;
$whiteOp10: rgba(255, 255, 255, .1);
$whiteOp20: rgba(255, 255, 255, .2);

// Elements
$abilitiesTopLine: $bonJour;
$abilitiesTitle: $grayShuttle;
$abilitiesSubtitle: $cascade;
$abilitiesIcon: $edward;
$abilitiesIconActive: $green;
$abilitiesActionText: $grayShuttle;

$contentBgc: $gray;
$contentItemBgc: $white;
$contentItemBdc: $bonJour;
$contentPriceBgc: $green;
$contentPriceColor: $white;
$contentCategoryBdc: $white;
$contentTitleColor: $grayShuttle;
$contentMoreItemsColor: $grayShuttle;
$contentMoreItemsBdc: $gray3;
$contentShowMoreBdc: $white;
$contentRaitingVotes: $cascade;
$contentRaitingBgc: $orange;

$ellipsBoxBgc: $whiteOp10;
$ellipsBoxBdc: $whiteOp20;
$ellipsBoxColor: $white;
$ellipsBoxOutline: $blue;

$filterBdc: $cascade;
$filterRulesColor: $cascade;
$filterRulesColorActive: $red;
$filterLocationBdc: $tiara;
$filterLocationColor: $red;
$filterActionColor: $tiara;
$filterActionApartmen: $green;
$filterActionShoping: $cascade;
$filterActionEducation: $cascade;
$filterActionMusic: $orange;
$filterActionTravel: $violet;

$footerTitle: $white;
$footerSplitterLine: $chicago;
$footerListTitle: $white;
$footerListItem: $cloud;
$footerListIcons: $white;

$headerBgc: $red;
$headerNavbarColor: $cascade;
$headerNavbarBgc: $white;
$headerNavbarHover: $red;
$headerNavbarHoverColor: $white;
$headerSearchBgc: $bonJour;
$headerLoginBgc: $red;
$headerLoginColor: $white;

$redEllipsBgc: $red;
$redEllipsColor: $white;

$searchTitleColor: $white;
$searchSelectBgc: $whiteOp10;
$searchSelectBdc: $whiteOp20;
$searchSelectColor: $white;

// Time
$timeVeryFast: .2s;
$timeFast: .3s;
$timeNormal: .4s;
$timeSlow: .7s;
$timeVerySlow: 1s;
